body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; 
    color: #333;
}

header, main, footer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#introducao img {
    max-width: 100%;
    width: 600px;
    height: auto;
    display: block;
    margin: 15px auto;
}

header {
    background-color: #0077b6; 
    color: white;
    padding: 20px 20px;
    text-align: center;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.btn-saiba-mais {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007BFF;
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}


header h1 {
    margin-top: 0;
}


section {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

section h2 {
    color: #0077b6;
    border-bottom: 2px solid #0077b6;
    padding-bottom: 5px;
    margin-top: 0;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}


.bloco-midia, .bloco-imagem {
    margin: 20px 0;
}

.bloco-midia iframe {
    max-width: 100%;
    display: block;
    margin: 0 auto; 
}

.bloco-imagem h3 {
    margin-bottom: 10px;
    color: #0077b6;
}

.bloco-imagem img {
    max-width: 100%;
    height: auto;
    display: block;
}

footer {
    text-align: center;
    font-size: 0.9em;
    color: #666;
    padding: 10px 20px 20px 20px;
}

#conclusao 
{
    padding: 40px 0;
    text-align: center;
    background-color: #e6f7ff;}
